<div id="<%= dom_id payment %>">
  <p>
    <strong>Pessoa(id):</strong>
    <%= payment.person_id %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Pago dia:</strong>
    <%= payment.paid_at %>
  </p>

</div>
